@font-face {
	font-family: 'GT America Expanded';
	src: url('../fonts/GTAmerica-ExpandedBlack.eot');
	src: url('../fonts/GTAmerica-ExpandedBlack.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GTAmerica-ExpandedBlack.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'GT America Expanded';
	src: url('../fonts/GTAmerica-ExpandedMedium.eot');
	src: url('../fonts/GTAmerica-ExpandedMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GTAmerica-ExpandedMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GT America Expanded';
	src: url('../fonts/GTAmerica-ExpandedRegular.eot');
	src: url('../fonts/GTAmerica-ExpandedRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GTAmerica-ExpandedRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url('../fonts/altehaasgroteskregular-webfont.woff2') format('woff2'),
         url('altehaasgroteskregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
