body
{
	background-color: #eef6ff;
	font-family: 'Futura';
	color: #000000;
	font-weight: 100;
	font-style: italic;
	line-height: 1.7;
	font-size: 16px;
	padding: 1.5rem;
}

@media (min-width: 415px)
{
	body
	{
		padding: 4rem;
	}
}

ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

@media (min-width: 415px)
{
	.main-header
	{
		position: fixed;
		width: calc(100% - 8rem);
	}
}

.main-header
{
	display: flex;
	flex-flow: row nowrap;
}

.main-header .logo
{
	flex: 3 0 0%;
}

.logo a, .logo a:hover
{
	border-bottom: 0;
}

nav
{
	display: flex;
	justify-content: flex-end;
	flex: 1 0 0%;
	font-size: 0.75rem;
}

.projects
{
	display: flex;
	flex-flow: column;
	margin-top: 4rem;
}

@media (min-width: 415px)
{
	.projects
	{
		margin-top: 12rem;
	}
}

.project
{
	display: flex;
	flex-flow: column;
}

.project + .project
{
	padding-top: 4rem;
}

.project:nth-child(even) .title-and-client
{
	align-items: flex-end;
}

.project:nth-child(even) .project-description
{
	order: unset;
}

@media (min-width: 770px) {
	.project:nth-child(even) .project-description
	{
		order: -1;
		transform: translateX(10%);
		transition: transform 400ms ease-in-out;
		margin-right: 1rem;
	}

	.project:nth-child(even):hover .project-description
	{
		transform: translateX(0%);
	}

	.project:nth-child(odd) .project-description
	{
		transform: translateX(-10%);
		margin-left: 1rem;
		transition: transform 400ms ease-in-out;
	}

	.project:nth-child(odd):hover .project-description
	{
		transform: translateX(0%);
	}
}

@media (min-width: 415px)
{
	.project:nth-child(even) .project-description
	{
		order: -1;
		margin-right: 1rem;
	}

	.project:nth-child(even):hover .project-description
	{
		transform: translateX(0%);
	}

	.project:nth-child(odd) .project-description
	{
		margin-left: 1rem;
	}

	.project:nth-child(odd):hover .project-description
	{
		transform: translateX(0%);
	}
}

.title-and-client
{
	display: flex;
	flex-flow: column;
	flex: 1 0 0%;
	padding: 1rem 0;
}

.project-title, .project-client
{
	line-height: 1.2;
}

.project-title
{
	font-weight: bold;
	text-transform: uppercase;
}

.image-and-description
{
	display: flex;
	flex-flow: column;
	align-items: center;
}

@media (min-width: 415px)
{
	.image-and-description
	{
		flex-flow: row nowrap;
	}
}

.project-image, .project-description
{
	flex: 1 0 0%;
}



.project-image img
{
	width: 100%;
	height: auto;
}

.about
{
	margin: 0 auto;
	margin-top: 4rem;
	width: 100%;
	max-width: 750px;
}

@media (min-width: 415px)
{
	.about
	{
		margin-top: 8rem;
	}
}

.about header
{
	font-weight: bold;
	text-align: center;
}

.social-links
{
	display: flex;
	flex-flow: row nowrap;
}

.social-links li
{
	flex: 1 0 0%;
	text-align: center;
}

.contact {
	text-align: center;
	margin-top: 4rem;
}

@media (min-width: 415px)
{
	.contact
	{
		margin-top: 8rem;
	}
}

footer
{
	text-align: center;
	margin: 2rem 0;
}

footer img
{
	height: 30px;
	width: auto;
}

a
{
	text-decoration: none;
	color: #000000;
	border-bottom: 1px solid #000000;
}

a:hover
{
	border-bottom: 1px solid #000000;
}